QPushButton {
    height: 40px;
    font-size: 14px;
}

QLabel {
    font-size: 16px;
}

QProgressBar {
    height: 10px;
}

QPushButton {
    font-size: 12px;
    height: 20px;
}

QPushButton[icon=true] {
    width: 30px;
    height: 30px;
}
